 .grid-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 5px;
    align-content: center;
 }

 .button-panel{
    display: grid;
    grid-template-columns: 156px 156px 156px;
    grid-template-rows: 156px 156px 156px;
    grid-gap: 55px;
    
 }

 #pic1-img{
    width: 156px;
    padding-bottom: 10px;
    padding-right: 500px;
 }

 .hold-but {
    color: black;
    background-color:pink;
 }

 .roll-but {
    color: black;
    background-color: greenyellow;
 }

 .end-but {
    color: black;
    background-color: tan;
 }

  #p1-background {
   background-color:yellow;
   color: black;
   padding: 10px;
   border-radius: 12px;
   border: 1px solid black;
  }

  #p2-background {
   background-color: grey;
   color: black;
   padding: 10px;
   border-radius: 12px;
   border: 1px solid black;
  }


 
